@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  padding: 0;
  margin: 0;
}

body, p {
  font:13px/20px 'OpenSans', sans-serif;
  line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
  color: #516066;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 20px;
}

#main {
  margin-left: 70px;
  margin-right: 70px;
}

/**********************************************************
  * Misc
  *********************************************************/

.processing-notice {
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 1000000;
}

i.gdrive {
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: top;
  background: url(drive20.png);
}

/* Custom scroll-bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
}

#footer {
  background-color: #f5f5f5;
  padding: 10px 10px;
  border-top: solid 1px #eee;
  font-size: 90%;
  margin: 0 -20px -20px;
}

.round {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.avatar {
  display: inline-block;
  background:#f8f8f8;
  text-align:center;
  padding:0;
  z-index:50;
  width:55px;
  height:50px;
}

/**********************************************************
  * User Status
  *********************************************************/

.user-status li.not-logged-in {
  display: none;
}

.user-status.logged-out .not-logged-in {
  display: inherit;
}

.user-status.logged-out .logged-in {
  display: none;
}

/**********************************************************
  * Splash page at start
  *********************************************************/

.instructions .well {
  height: 180px;
}

.instructions h3 {
  margin-top: 0;
}

.view.login .splash {
  text-align: center;
  background: white;
  font-weight: 400;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 20px auto 0 auto;
  width: 340px;
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  }

.authorize {
  border-top: 1px solid #C3CCD0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 20px ;
  }

.authorize p {
  margin-top: 0; 
  margin-bottom: 20px;
  }
  
.authorize a.button {
  display: block;
  background: #516066;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'OpenSans', sans-serif; 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  }
  .authorize a.button:hover { background: #3d4548; }

/**********************************************************
  * Project 
  *********************************************************/

.view.project {
  margin-top: 5px;
  position: relative;
}

.view.project .header-nav {
  height: 50px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #eee;
}

.view.project .header-nav .avatar {
  display: inline-block;
  font-size: 31.5px;
  line-height: 50px;
  float: left;
}

.view.project .header-nav .details {
  float: left;
  margin-left: 10px;
}

.view.project .trail {
  font-size: 13px;
  margin: 0;
  font-weight: normal;
}

.view.project .project-name {
  margin: 0;
  font-size: 26px;
  line-height: 1.5em;
  margin-top: -5px;
}

/**********************************************************
  * Readme
  *********************************************************/

.view.project .meta {
  position: relative;
  display: none;
}

.view.project .readme {
  font-size: 14px;
  height: 100%;
  overflow: auto;
  position: relative;
}

button.editreadme, button.savereadme {
}

#fork p {
  display: inline-block;
  margin-right: 5px;
}

.view.project .data-app {
  clear: both;
  margin: 15px 0;
}

.view .recline-slickgrid {
  height: 500px;
}

.view.project .header {
  margin-bottom: 5px;
  height: 35px;
}

.view.project .data-view-container {
  display: block;
  margin-right: 225px;
}

.view.project .data-view-sidebar {
  float: right;
  margin-left: 8px;
  width: 220px;
}

.view.project .header .navigation {
  margin-bottom: 8px;
  float: left;
}

.view.project .header .navigation,
.view.project .header .pagination,
.view.project .header .pagination form
{
  display: inline;
}

.view.project .header .menu-right {
  float: right;
  margin-left: 5px;
  padding-left: 5px;
  border-left: solid 2px #ddd;
}

.header .recline-results-info {
  line-height: 28px;
  margin-left: 20px;
  float: left;
}


/**********************************************************
  * Project Side Nav
  *********************************************************/

.right-menu li a {
  background-color:#f8f8f8;
  color:#a8afb2;
  display:block;
  width:40px;
  height:40px;
  line-height:40px;
  text-align:center;
  margin:10px;
  position:relative;
  z-index:10;
  font-size: 30px;
  }
  .right-menu li a:hover {
    background-color:#f0f0f0;
    }
  .right-menu li a:active {
    -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
            box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
    }
    .right-menu li a.active {
      background-color:#526066;
      color:#fff;
      -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
              box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
      }
  .right-menu li a.btn-success {
    color: #fff;
  }

.disabled {
  cursor: default;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.disabled:hover {
  background-color: inherit;
}

.right-menu li.divider {
  border-bottom: 2px solid #eee;
  margin: 15px 0px;
}

/**********************************************************
  * Query Editor
  *********************************************************/

.header .recline-query-editor {
  float: right;
  height: 30px;
}

.header .input-prepend {
  margin-bottom: auto;
}

.header .add-on {
  float: left;
}

/* needed for Chrome but not FF */
.header .add-on {
  margin-left: -27px;
}

/* needed for FF but not chrome */
.header .input-prepend {
  vertical-align: top;
}

.header .recline-query-editor form button {
  vertical-align: top;
}

/**********************************************************
  * Pager
  *********************************************************/

.header .recline-pager {
  float: left;
  margin: auto;
  display: block;
  margin-left: 20px;
}

.header .recline-pager .pagination input {
  width: 30px;
  height: 16px;
  padding: 2px 4px;
  margin: 0;
  margin-top: -1px;
}

.header .recline-pager .pagination a {
  line-height: 26px;
  padding: 0 6px;
}

/**********************************************************
  * Dashboard
  *********************************************************/

.dashboard {
  margin-top: -10px;
}

.dashboard .page-header {
  border-bottom: none;
}

.dashboard .load-btn {
  float: right;
}

.dashboard .project.summary .btn-danger {
  float: right;
}

/**********************************************************
  * Project List
  *********************************************************/

.project.summary {
	padding: 1em 0 0.5em 0.0em;
	border-bottom: 1px solid #ececec;
}

.project.summary .title {
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.project.summary .title a {
	text-decoration: none;
}

/**********************************************************
  * CodeMirror editable areas
  *********************************************************/

.script-editor {
  height: 300px;
  position: relative;
  margin-bottom: 20px;
  display: none;
}

.script-editor .header {
  width: 100%;
  margin-bottom: 5px;
  height: 35px;
}

.script-editor .header h4 {
  float: left;
}

.script-editor .header .buttons {
  float: right;
}

button.clear, button.editreadme, button.savereadme {
  right: 0;
}

button.runsandbox {
  right: 90px;
}

.meta .CodeMirror {
  height: 100%;
}

.script-editor .CodeMirror {
  font-size: 12px;
}

.script-editor-widget {
  width: 70%;
  float: left;
  height: 265px;
}

.script-editor-widget .CodeMirror {
  border: 1px solid #ddd;
  height: 100%;
}

.script-editor .output {
  width: 28%;
  margin-left: 70%;
  height: 255px;
  overflow: auto;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 80%;
  padding: 5px 10px;
  background-color: #eee;
}

.script-editor .output .error {
  color: red;
  font-style: italic;
}

.lint-error {
  font-size: 10px;
  line-height: 10px;
  background: #f00;
  color: white;
  padding: 0 2px 1px;
}

.lint-error i {
  margin-right: 3px;
}

/**********************************************************
  * Start page
  *********************************************************/

.start .splash {
  background:#fff;
  text-align:center;
  margin:45px auto;
  width:300px;
  border:1px solid #a8afb2;
  box-shadow:0 1px 0 rgba(255, 255, 255, 0),
             0 0 10px rgba(0, 0, 0, 0.1);
}

.start .splash .inner {
  padding: 15px;
}

/**********************************************************
  * Jekyll pages
  *********************************************************/

.brand.logo img {
  margin-top: -5px;
}

.brand.logo {
  padding-right: 8px;
}

.navbar-inner {
  background: #e0e7eb;
  padding-top: 0px;
}

.navbar-inner .brand {
  color: #434C50;
  padding-top: 9px;
  padding-bottom: 6px;
}

.navbar-inner .brand .subtitle {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .divider-vertical {
  background-color: #acbfca;
  border-right: 1px solid #f5f7f8;
  width: 1px;
  margin: 0;
}

.navbar .nav > li > a {
  color: #434c50;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #222;
}

.navbar .nav .okf-logo a {
  padding: 5px;
}

/**********************************************************
  * About page
  *********************************************************/

body.about {
  padding-top: 40px;
  background-color: #eee;
}

body.about .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

body.about .page-header {
  background-color: #f5f5f5;
  padding: 10px 20px 10px;
  margin: -20px -20px 20px;
}

body.about h1 {
}

body.about .instructions .well {
  padding-bottom: 25px;
  background-color: #E0E7EB;
  height: 150px;
}

body.about .instructions .well h3 {
  margin-bottom: 10px;
}

body.about .followup {
  text-align: center;
  margin-top: 20px;
}

body.about .actions {
  text-align: center;
}

body.about .actions a {
  width: 250px;
  margin: 30px;
}

/**********************************************************
  * Tweaks to Recline
  *********************************************************/

.recline-slickgrid {
  font-size: 12px;
}

.splitter-bar {
  width: 10px;
}

/**********************************************************
  * Layout
  *********************************************************/

.right-menu {
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5000;
  width: 60px;
  height: 100%;
  border-left: 1px solid #eee;
}

.left-menu {
  width:150px;
  position:fixed;
  z-index:5000;
  top:0;
  left:0;
  font-size: 13px;
  }
  .left-menu:hover {
    background-color:#3d494e;
    *z-index:1000;
  }
  .left-menu:hover .dropdown {
    display:block;
    }
  .left-menu:hover .brand {
  }


.left-menu .brand {
  display: block;
  background: #3d494e;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-left: 10px;
  margin-top: 8px;
}

.left-menu .brand a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin-top: 12px;
}

.left-menu .brand a:hover {
  text-decoration: none;
  display: none;
}

.left-menu:hover .brand a {
  display: none;
}

.left-menu .brand a.onhover {
  display: none;
}

.left-menu .brand a.onhover span {
  font-size: 16px;
}

.left-menu:hover .brand a.onhover {
  display: inline-block;
}

.left-menu .user-status {
  padding-top: 10px;
}

.dropdown {
  background-color:#3d494e;
  position:absolute;
  right:0;
  top: 100%;
  z-index:1000;
  padding:0 0 15px;
  width:150px;
  display: none;
  }
  .dropdown li {
    display:block;
    }
  .dropdown li.divider {
    border-bottom:1px solid #202020;
    margin:10px 0;
    }
  .dropdown li.authenticated {
    display: none;
    }
  .authenticated .dropdown li.authenticated {
    display: block;
    }
  .dropdown > li > a {
    background:transparent;
    color:#e0e7eb;
    font-weight:400;
    display:block;
    padding:4px 15px;
    float:none;
    clear:both;
    line-height:20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    -webkit-font-smoothing:subpixel-antialiased;
    }
  .dropdown a.active,
  .dropdown > li > a:hover,
  .dropdown > li > a:focus {
    background-color:#516066;
    text-decoration:none;
    }
