@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700|Merriweather:400,300,700);

body {
  padding-top: 60px;
}

body, p {
  font-size: 14px;
	font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6, .navbar, form, .btn, input, button, select, textarea
{
	font-family: 'News Cycle', Arial, sans-serif;
}

a {
  font-weight: 700;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.processing-notice {
  position: absolute;
  left: 50%;
  top: 200px;
  z-index: 1000000;
}

/* Custom scroll-bars */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background: rgba(150,150,150,0.8);
}

#footer {
  background-color: #f5f5f5;
  padding: 10px 10px;
  border-top: solid 1px #eee;
  font-size: 90%;
  margin: 0 -20px -20px;
}

.feedback {
  position: absolute;
  right: 4px;
  top: 250px;
  width: 30px;
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); 
  transform: rotate(90deg);
  z-index: 100;
}

.feedback a {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  margin-top: 3px;
  background-color: white;
  border: solid 1px #eee;
  border-top: none;
}

.feedback a:hover {
  text-decoration: none;
  background-color: #ddd;
}

/**********************************************************
  * Navigation
  *********************************************************/

.navbar-inner {
  background: #e0e7eb;
  padding-top: 0px;
}

.navbar-inner .brand {
  color: #434C50;
  padding-top: 7px;
}

.navbar-inner .brand .subtitle {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .divider-vertical {
  background-color: #acbfca;
  border-right: 1px solid #f5f7f8;
  width: 1px;
  margin: 0;
}

.navbar .nav > li > a {
  color: #434c50;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: #222;
}

.user-status li.not-logged-in {
  display: none;
}

.user-status.logged-out .not-logged-in {
  display: inherit;
}

.user-status.logged-out .logged-in {
  display: none;
}

.user-status .logout {
  margin-top: 1px;
}

.navbar .nav .okf-logo a {
  padding: 5px;
}

/**********************************************************
  * Splash page at start
  *********************************************************/

.view.login .splash {
  text-align: center;
  background: white;
  font-weight: 400;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  position: relative;
  margin: 20px auto 0 auto;
  width: 340px;
  border: 1px solid #C3CCD0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0),0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  }

.authorize {
  border-top: 1px solid #C3CCD0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 20px ;
  }

.authorize p {
  margin-top: 0; 
  margin-bottom: 20px;
  }
  
.authorize a.button {
  display: block;
  background: #516066;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family:'OpenSans', sans-serif; 
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  }
  .authorize a.button:hover { background: #3d4548; }

/**********************************************************
  * Project 
  *********************************************************/

.view.project {
  margin-top: -8px;
}

.view.project .meta {
  height: 100%;
  overflow: auto;
}

.view.project .readme {
  font-size: 14px;
  overflow: auto;
}

.top-row {
  height: 300px;
}

.view.project .readme .controls {
  position: absolute;
  top: 0px;
  left: 550px;
}

.readme > h1 {
  margin-top: 0px;
  margin-bottom: 15px;
}

.readme .controls a {
  width: 120px;
}

.view.project .data-app {
  margin-bottom: 15px;
}

.view.project .recline-slickgrid {
  height: 500px;
}

.view.project .header {
  margin-bottom: 5px;
  height: 35px;
}

.view.project .data-view-container {
  display: block;
  margin-right: 225px;
}

.view.project .data-view-sidebar {
  float: right;
  margin-left: 8px;
  width: 220px;
}

.view.project .header .navigation {
  margin-bottom: 8px;
  float: left;
}

.view.project .header .navigation,
.view.project .header .pagination,
.view.project .header .pagination form
{
  display: inline;
}

.view.project .header .menu-right {
  float: right;
  margin-left: 5px;
  padding-left: 5px;
  border-left: solid 2px #ddd;
}

.header .recline-results-info {
  line-height: 28px;
  margin-left: 20px;
  float: left;
}

/**********************************************************
  * Query Editor
  *********************************************************/

.header .recline-query-editor {
  float: right;
  height: 30px;
}

.header .input-prepend {
  margin-bottom: auto;
}

.header .add-on {
  float: left;
}

/* needed for Chrome but not FF */
.header .add-on {
  margin-left: -27px;
}

/* needed for FF but not chrome */
.header .input-prepend {
  vertical-align: top;
}

.header .recline-query-editor form button {
  vertical-align: top;
}

/**********************************************************
  * Pager
  *********************************************************/

.header .recline-pager {
  float: left;
  margin: auto;
  display: block;
  margin-left: 20px;
}

.header .recline-pager .pagination input {
  width: 30px;
  height: 16px;
  padding: 2px 4px;
  margin: 0;
  margin-top: -1px;
}

.header .recline-pager .pagination a {
  line-height: 26px;
  padding: 0 6px;
}

/**********************************************************
  * Dashboard
  *********************************************************/

.dashboard .load-btn {
  float: right;
}

.dashboard .project.summary .btn-danger {
  float: right;
}

/**********************************************************
  * Project List
  *********************************************************/

.project.summary {
	padding: 1em 0 0.5em 0.0em;
	border-bottom: 1px solid #ececec;
}

.project.summary .title {
  padding-top: 0.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.project.summary .title a {
	text-decoration: none;
}

/**********************************************************
  * CodeMirror editable areas
  *********************************************************/

.script-editor {
  position: relative;
}

.script-editor-widget {
  height: 250px;
}

.script-editor-widget .CodeMirror {
  border: 1px solid #ddd;
  height: 100%;
}

.script-editor .output {
  overflow: auto;
  border: 1px solid #ddd;
  font-family: monospace;
  font-size: 80%;
  padding: 5px 10px;
  height: 40px;
  background-color: #eee;
}

.script-editor .output .error {
  color: red;
  font-style: italic;
}

button.clear, button.runsandbox {
  position: absolute;
  top: -40px;
}

button.clear {
  right: 0;
}

button.runsandbox {
  right: 90px;
}

.script-editor-widget .button {
  font-family: "Helvetica Neue", "Helvetica", san-serif;
  padding: 5px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  position: relative;
  float: right;
  font-size: 11px;
  line-height: 16px;
  padding: 2px 6px;
  margin-bottom: -20px;
  margin-right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  z-index: 100;
  top: 8px; 
  margin-right: 320px;
}
.script-editor-widget .button:hover {
  background-color: #2685ED;
}
.script-editor-widget .button.clear {
  top: 35px; 
}

/**********************************************************
  * About page
  *********************************************************/

body.about {
  padding-top: 40px;
  background-color: #eee;
}

body.about .content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

body.about .page-header {
  background-color: #f5f5f5;
  padding: 10px 20px 10px;
  margin: -20px -20px 20px;
}

.view.about h1 {
}

.view.about .instructions .well {
  padding-bottom: 25px;
  background-color: #E0E7EB;
}

.view.about .instructions .well h3 {
  margin-bottom: 10px;
}

.view.about .followup {
  text-align: center;
  margin-top: 20px;
}

.view.about .actions {
  text-align: center;
}

.view.about .actions a {
  width: 250px;
  margin: 30px;
}

/**********************************************************
  * Tweaks to Recline
  *********************************************************/

.recline-slickgrid {
  font-size: 12px;
}
